* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  margin: 0;
  padding: 0; 
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height:100%;
  font-size: 12px;
  overflow-x:hidden;
}

html, body {
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  height:100%;
  position: relative;
}
.fluid {
  width: 100%;
  float: left;
}
.right {
  float:right;
}
ul {
  margin:0;
  padding:0;
}
li {
  cursor: pointer;
  list-style:none;  
}
a {
  cursor:pointer;
  text-decoration:none;
  color:inherit;  
}
input, button {
  outline:none;
}
button {
  cursor: pointer;
}
.content {
  float:left;
  min-height:100%;
}

