.voting-panel, .sort {
  position: fixed !important;
  width: 1000px;
  height: 80px;
  background-color:rgb(227,232,233);
  background-color: #555;
  color: #FFF;
  border-top: 30px solid #FFF; 
  z-index: 10000; 
  top: 39px;
}
.ui-slider
{
  float: left;
  width: 100px;
  margin-left: 15px;
  margin-right: 9px;
  margin-top: 5px;
}
#urgency-slider
{
  margin-left: 19px;
}
#sliders span
{
  float:left;
}
.voting-panel .text
{
  float: left;
  width: 500px;
  margin-right: 50px;
}
#sliders {
  float: left;
  width: 230px;
  margin-top: 28px;
}
