.voting-panel, .sort {
  position: fixed !important;
  width: 80% !important;
  height: 80px;
  background-color:rgb(227,232,233);
  background-color: #555;
  color: #FFF;
  border-top: 30px solid #FFF; 
  z-index: 10000; 
  top: 39px;
  display: table;
}
#solution-slider {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}
