.voting-panel, .sort {
  position: fixed !important;
  width: 1000px;
  height: 80px;
  color: #FFF;
  border-top: 30px solid #FFF; 
  z-index: 10000; 
  top: 39px;
}
#text-and-sliders
{
  width: 921px;
  background-color:rgb(227,232,233);
  background-color: #555;
  height: 80px;
  float: left;
}
#submit-vote-button
{
  height: 80px;
  width: 80px;
  margin-left: 921px;
  background-color:rgb(227,232,233);
  background-color: #555;
}
.ui-slider
{
  float: left;
  width: 100px;
  margin-left: 15px;
  margin-right: 9px;
  margin-top: 5px;
}
#urgency-slider
{
  margin-left: 19px;
}
#sliders span
{
  float:left;
}
.voting-panel .text
{
  float: left;
  width: 550px;
  margin-right: 100px;
  font-size: 18px;
}
#sliders {
  float: left;
  width: 230px;
  margin-top: 28px;
}
